@import url(./reset.css);
@import url(./global.css);

.logo-alura {
    margin-left: 20px;
    padding-top: 20px;
}

main {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.text-area {
    border: none;
    color: var(--primary-color);
    margin-top: 90px;
    text-transform: lowercase;
    font-size: 2rem;
    resize: none;
}

::placeholder {
    color: var(--primary-color);
    font-size: 2rem;
}

.text-area:focus {
    outline: none;
}

.information {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.information img {
    width: 16px;
    height: 16px;
    margin-right: 10px;
}

.information h6 {
    color: #495057;
    font-size: 0.8rem;
}

.buttons {
    display: flex;
    margin-top: 18px;
}

.btn-encrypt {
    color: #FFFFFF;
    background: var(--secondary-color);
    border: 1px solid var(--secondary-color);
    border-radius: 24px;
    height: 67px;
    width: 328px;
    cursor: pointer;
    transition: all 0.8s ease-in-out;
}

.btn-encrypt:hover {
    background: var(--tertiary-color);
}

.btn-decrypt {
    color: var(--secondary-color);
    background: var(--primary-color);
    border: 1px solid var(--secondary-color);
    border-radius: 24px;
    height: 67px;
    width: 328px;
    margin-left: 30px;
    cursor: pointer;
    transition: all 0.8s ease-in-out;
}

.btn-decrypt:hover {
    background: var(--tertiary-color);
}

.btn-decrypt::selection {
    background: var(--primary-color);
}

aside {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.message {
    background: var(--text-area-color);
    background-image: url(../assets/images/puppet.png);
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 70%;
    border: none;
    border-radius: 24px;
    color: var(--secondary-color);
    margin: 20px 0 0 98px;
    font-size: 2rem;
    width: auto;
    resize: none;
}

.message::placeholder {
    font-size: 1.5rem;
    text-align: center;
    transform: translateY(420px);
}

.message:focus {
    outline: none;
}

.message::selection {
    background: var(--primary-color);
}

.btn-copy {
    color: var(--secondary-color);
    background: var(--primary-color);
    border: 1px solid var(--primary-color);
    border-radius: 24px;
    height: 67px;
    width: 328px;
    cursor: pointer;
    margin: 20px 0 0 98px;
    transition: all 0.8s ease-in-out;
}

.btn-copy:hover {
    background: var(--tertiary-color);
}

.btn-copy::selection {
    background: var(--primary-color);
}

.btn-encrypt, .btn-decrypt, .btn-copy {
    font-size: 1rem;
}

footer {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 200px;
  }

footer p, a {
    color: var(--primary-color);
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
}

footer p::after {
    content: '🤘';
}

::-webkit-scrollbar {
    background: var(--background-color);
}

::-webkit-scrollbar-thumb {
    background: var(--text-area-color);
}

@media (max-width: 1024px) {

    main {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    section {
        width: 100%;
    }

    .text-area, .information {
        margin-left: 50px;
    }

    .buttons {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .btn-decrypt {
        margin: 10px 0 5px 0;
    }

    aside {
        flex-direction: column-reverse;
        margin-right: 100px;
    }


    .btn-encrypt, .btn-decrypt, .btn-copy {
        font-size: 2rem;
    }
}

@media (max-width: 342px) {

    .btn-encrypt, .btn-decrypt, .btn-copy {
        height: 50px;
        width: 235px;
        font-size: 1.5rem;
    }

    .message {
        width: 80%;
    }
}

@media (max-width: 280px) {

    .text-area, .information {
        margin-left: 20px;
    }

    .information h6 {
        font-size: 0.7rem;
    }
}